[submodule "connectors/mssql/demo/redis-cdc-custom-stage-demo"]
	path = connectors/mssql/demo/redis-cdc-custom-stage-demo
	url = https://2e9a5d81edf7f49d885e66c1b8c6655cc000a4e2@github.com/RedisLabs-Field-Engineering/RedisCDC.git
